<%- include("header") -%>
<div class="box" id="heading">
  <h1><%= listTitle%> !</h1>
</div>
<div class="box">

  
  <% newListItem.map((item) =>{ %>
    <div class="item">
      <input type="checkbox">
      <p><%=item.name%></p>
    </div>
    <% }) %>

  <form action="/" method="post">
    <input
      type="text"
      name="todo"
      placeholder="Add a new todo"
      autocomplete="off"
      required
      autofocus
    />
    <button type="submit" name="list" value="<%= listTitle%>">+</button>
  </form>
</div>
<%- include("footer") -%>